



// -- RESET -- //
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

// -- BASE SETUP -- //
body {
  max-width: 1820px;
	padding: 0 10px;
	font-size: 1em;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
}