// -- FONTS -- //
@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700&display=swap');

// -- SNIPPETS -- //
@import "./components/Header/Header";


// -- RESET -- //
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

// -- BASE SETUP -- //
body {
  max-width: 1820px;
	padding: 0 10px;
	font-size: 1em;
	line-height: 1;
	text-rendering: optimizeLegibility;
	background: black;
	color: #feda4a;
	font-family: 'News Cycle', sans-serif;
}