.planet-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  div {
    text-align: center;
  }
  .planet-card {
  border: 2px solid #feda4a;
  text-transform: capitalize;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16%;
  height: 12em;
  margin: 1em;
  .planet-name {
    margin-top: .675em;
    font-size: 1.5em;
    font-weight: 700;
  }
  .planet-climate, .planet-gravity, .planet-population {
    margin-top: .675em;
    font-weight: 700;
  }
  }
  .planet-card:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
  }
}